:root {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: 100vh;

    header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        padding: 1rem;


    }
}

:root[theme="dark"] {
    background-color:var(--darkMode);
    color: var(--dark-color);
}